[submodule "libs/libconfig"]
	path = libs/libconfig
	url = git@github.com:hyperrealm/libconfig.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/ImGuiFileDialog"]
	path = libs/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
[submodule "libs/Lyra"]
	path = libs/Lyra
	url = git@github.com:bfgroup/Lyra.git
[submodule "libs/mutils"]
	path = libs/mutils
	url = git@github.com:Rezonality/mutils.git
[submodule "libs/glm"]
	path = libs/glm
	url = git@github.com:g-truc/glm.git
[submodule "libs/soil"]
	path = libs/soil
	url = git@github.com:littlstar/soil.git
[submodule "libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "libs/concurrentqueue"]
	path = libs/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
[submodule "libs/stduuid"]
	path = libs/stduuid
	url = git@github.com:mariusbancila/stduuid.git
[submodule "libs/lz4"]
	path = libs/lz4
	url = git@github.com:lz4/lz4.git
[submodule "libs/glbinding"]
	path = libs/glbinding
	url = git@github.com:cginternals/glbinding.git
[submodule "libs/cereal"]
	path = libs/cereal
	url = git@github.com:USCiLab/cereal.git
